<?xml version="1.0" encoding="UTF-8" standalone="no"?><Paths>
	<WebDriver DriverType="Chrome">
		<Path>/Users/stefanmac/NetBeansProjects/Similie/WebDrivers/MacDrivers/chromedriver</Path>
		
	</WebDriver>
        <WebDriver DriverType="Firefox">
		<Path>/Users/stefanmac/NetBeansProjects/Similie/WebDrivers/MacDrivers/geckodriver</Path>
		
	</WebDriver>
        
        <DB Type="Scan">
		<Path>/Users/stefanmac/NetBeansProjects/Similie/ScanDB/</Path>
		
	</DB>
        
        <UserSettings PreferedDriver="Firefox">
		
		
	</UserSettings>
	
</Paths>